body {
  background-color: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
  
}

.wrapper {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  height: 3300px;
  margin: 20px auto;
  padding: 80px 70px;
  position: relative;
  width: 1440px;
}

header {
  align-items: center;
  display: flex;
  flex: 3;
  justify-content: flex-end;
  flex-direction: row;
  position: absolute;
  height: 36px;
  left: 70px;
  top: 70px;
  width: 1280px;
}

header img {
height: 36px;
left: 0px;
top: 10px;
position: absolute;
width: 198px;

}

nav a {
  color: gray;
  font-size: 12px;
  /* font-weight: bold; */
  text-decoration: none;
  padding: 0 10px;
}

nav a:last-child {
  color: rgb(245, 94, 114);
}

.nft-top {
  display: flex;
  padding-top: 50px;
  height: 519px;
  width: 1120px;
  padding-bottom: 250px;
}

.nft-top div {
  flex: 2;
  padding-top: 70px;
}

.nft-top p:first-child {
  color: rgb(245, 94, 114);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.nft-top h1 {
  color: #111111;
  font-size: 96px;
  font-weight: 900;
  line-height: 116px;
  
}

.nft-top img {
  left: 900px;
  position: absolute;
  height: 519px;
  padding: 21px 5px;
  width: 500px;
}

.neveikia {
  color: #555555;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;
}

.nft-top button {
  border-bottom-color: #FF8139;
  border-top-color: #FF3939;
  border-left-color: #FF3998;
  border-right-color:#39FFA0;
  background-color: white;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 20px;
}

.nft-top a span {
  display: inline-block;
  background: #ffff;
  color: #000000;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: 550;
  font-size: 12px;
}
