body {
  background-color: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.wrapper {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  height: 100%;
  margin: 20px auto;
  padding: 80px 70px;
  position: relative;
  overflow-x: hidden;
  width: 1440px;
}

header {
  align-items: center;
  display: flex;
  flex: 3;
  height: 36px;
  justify-content: flex-end;
  flex-direction: row;
  position: absolute;
  height: 36px;
  left: 70px;
  top: 70px;
  width: 1280px;
}

header img {
  height: 36px;
  left: 0px;
  top: 10px;
  position: absolute;
  width: 198px;
}

nav a {
  color: gray;
  font-size: 12px;
  text-decoration: none;
  padding: 0 10px;
}

nav a:last-child {
  color: rgb(245, 94, 114);
}

.only-mobile {
  opacity: 0;
}

.nft-top {
  display: flex;
  height: 519px;
  padding-top: 50px;
  padding-bottom: 380px;
  width: 1120px;
}

.nft-top div {
  flex: 2;
  padding-top: 70px;
}

.nft-top p:first-child {
  color: rgb(245, 94, 114);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.nft-top h1 {
  color: #111111;
  font-size: 96px;
  font-weight: 900;
  line-height: 116px;
}

.nft-top img {
  height: 519px;
  left: 900px;
  position: absolute;
  padding: 21px 5px;
  width: 500px;
}

.nft-sign {
  color: #555555;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;
}

.nft-top button {
  border-bottom-color: #ff8139;
  border-top-color: #ff3939;
  border-left-color: #ff3998;
  border-right-color: #39ffa0;
  background-color: white;
  border-radius: 100px;
  font-size: 20px;
  padding: 15px 35px;
  cursor: pointer;
}

.free-nft {
  background-image: url(assets/background.svg);
  background-size: cover;
  border-radius: 16px;
  padding: 80px;
}

.free-nft h3 {
  color: #111111;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}

.free-nft p {
  color: #111111;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.partners {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.logo1 {
  height: 40.7px;
  width: 216.12px;
}

.logo2 {
  height: 46.46px;
  width: 154.08px;
}

.logo3 {
  height: 46.21px;
  width: 132.72px;
}

.logo4 {
  height: 40.7px;
  width: 194.76px;
}

.logo5 {
  height: 40.7px;
  width: 156.12px;
}

.super-rare {
  padding-top: 100px;
}

.super-rare h3 {
  align-items: flex-end;
  display: flex;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.super-rare p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.nft-auction {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 100px;
}

.purple-man-nft {
  background: #eeeeee;
  border-radius: 15px;
}

.purple-man-nft p:first-child {
  color: #ff8139;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 10px;
}

.purple-man-nft span {
  color: #777777;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  float: right;
  line-height: 12px;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
}

.purple-man-nft p:nth-child(2) {
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding-left: 20px;
}

.purple-man-nft p:last-child {
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding-left: 20px;
  padding-top: 10px;
}

.beige-nft {
  background: #eeeeee;
  border-radius: 15px;
}

.beige-nft p:first-child {
  color: #ff8139;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 10px;
}

.beige-nft span {
  color: #777777;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  float: right;
  line-height: 12px;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
}

.repair {
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding-left: 5px;
}

.beige-nft p:nth-child(2) {
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding-left: 20px;
}

.beige-nft p:last-child {
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding-left: 20px;
  padding-top: 10px;
}

.red-man-nft {
  background: #eeeeee;
  border-radius: 15px;
}

.red-man-nft p:first-child {
  color: #ff8139;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 10px;
}

.red-man-nft span {
  color: #777777;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  float: right;
  line-height: 12px;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
}

.red-man-nft p:nth-child(2) {
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding-left: 20px;
}

.red-man-nft p:last-child {
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding-left: 20px;
  padding-top: 10px;
}

.green-nft {
  background: #eeeeee;
  border-radius: 15px;
}

.green-nft p:first-child {
  color: #ff8139;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 10px;
}

.green-nft span {
  color: #777777;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  float: right;
  line-height: 12px;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
}

.green-nft p:nth-child(2) {
  color: #111111;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  padding-left: 20px;
}

.green-nft p:last-child {
  color: #777777;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  padding-left: 20px;
  padding-top: 10px;
}

.line {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0px;
}

.nft-down {
  display: flex;
  padding-top: 50px;
  height: 519px;
  width: 1120px;
}

.nft-down h3 {
  color: #111111;
  font-size: 56px;
  font-weight: 900;
  line-height: 68px;
}

.nft-down p:first-child {
  color: rgb(245, 94, 114);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding-top: 90px;
}

.nft-down img {
  height: 467px;
  right: 301px;
  position: absolute;
  top: 2438px;
  width: 206px;
}

.nft-down button {
  border-bottom-color: #ff8139;
  border-top-color: #ff3939;
  border-left-color: #ff3998;
  border-right-color: #39ffa0;
  background-color: white;
  border-radius: 100px;
  font-size: 20px;
  padding: 15px 35px;
  cursor: pointer;
}

.footer-meniu {
  color: #555555;
  display: flex;
  flex: 20px;
  gap: 60px;
  justify-content: end;
  list-style: none;
  padding-top: 80px;
}

.footer-meniu h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.footer-logo p {
  color: #999999;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.footer-meniu a,
li {
  color: #555555;
  font-weight: 400;
  font-size: 20px;
  gap: 10px;
  line-height: 20px;
  list-style: none;
  padding-top: 15px;
  text-decoration: none;
}

.footer-logo {
  position: absolute;
  padding-top: 100px;
}

.footer-logo i {
  background: #999999;
}

.footer-bottom {
  color: #999999;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  justify-content: space-between;
  padding-top: 100px;
  line-height: 20px;
}

@media only screen and (max-width: 428px) {
  .wrapper {
    margin: 0 auto;
    padding: 10px 30px;
    width: 100%;
  }

  .partners {
    display: block;
    margin-top: 60px;
  }

  .logo1,
  .logo2,
  .logo3,
  .logo4,
  .logo5 {
    padding: 20px;
    position: unset;
    width: 40%;
  }

  .logo4 {
    display: none;
  }

  .free-nft {
    margin-left: -39px;
    margin-right: -30px;
    border-radius: unset;
    padding: 30px;
  }

  .nft-top div {
    flex: unset;
  }

  .nft-top h1 {
    font-size: 30px;
    line-height: 36px;
  }

  .nft-top img {
    position: inherit;
    padding: unset;
    width: 300px;
    height: 319px;
  }

  .nft-top {
    padding-bottom: unset;
    width: 90%;
  }

  .mobile-nft-img {
    padding: 10px 0px 0px 50px;
    width: 30%;
  }

  .only-mobile {
    opacity: 1;
    border: unset;
    background-color: unset;
    margin-right: 15px;
  }

  .one {
    border-bottom: 4px solid;
    display: block;
    width: 24px;
  }

  .two {
    border-bottom: 4px solid;
    display: block;
    margin-top: 5px;
    width: 24px;
  }

  .three {
    border-bottom: 4px solid;
    display: block;
    margin-top: 5px;
    width: 24px;
  }

  nav {
    display: none;
  }

  header {
    left: 30px;
    top: 30px;
    width: 90%;
  }

  header img {
    top: unset;
  }

  .super-rare {
    padding-top: 19px;
  }

  .super-rare h3 {
    font-size: 43px;
  }

  .purple-man-nft {
    margin-right: 6%;
  }

  .nft-down {
    padding-top: unset;
    height: 100%;
    width: 100%;
  }

  .nft-down img {
    right: unset;
    padding-left: 22px;
    position: relative;
    padding-top: 170px;
    top: unset;
    width: 130px;
  }

  .nft-down-c {
    width: 100%;
  }

  .nft-down-p {
    width: 24%;
  }

  .footer-logo {
    position: unset;
  }

  .footer-meniu {
    flex-wrap: wrap;
    justify-content: left;
    margin-left: -37px;
    width: 75%;
  }

  .meniu-nft {
    padding-left: 45px;
  }

  .meniu-social {
    padding-left: 36px;
  }

  .footer-bottom p:last-child {
    display: none;
  }

  .red-man-nft,
  .green-nft {
    display: none;
  }
}
